@inherits LayoutComponentBase

<Switcher />

<div class="page">

    <MainHeader ShowMenuToggle="false" />

    <div class="main-content app-content" style="margin-inline-start:0">
         @Body
    </div>

    <Footer />

</div>

@code {
}