@code {
    [Parameter] public string? ProgressClass { get; set; }
    [Parameter] public string? ProgressValue { get; set; }
    [Parameter] public string? ProgressSize { get; set; }
    
    [Parameter] public RenderFragment? ChildContent { get; set; }
}

<div class="progress @ProgressClass @ProgressSize" role="progressbar" aria-valuenow="@ProgressValue" aria-valuemin="0" aria-valuemax="100">
   @if (ChildContent != null)
    {
        @ChildContent
    }
</div>
