@using CardModel

<div class="card custom-card overflow-hidden mb-3">
    <div class="card-body p-0 table-responsive">
        <div class="table-responsive ">
            <table class="table ">
                <tbody>
                    <tr>
                        <td><div class="fw-semibold">Agent Version:</div></td>
                        <td><span class="fs-20 fw-semibold">@versionTable!.AgentVersion</span></td>
                    </tr>
                    <tr>
                        <td><div class="fw-semibold">IDD Version:</div></td>
                        <td><span class="fs-20 fw-semibold">@versionTable!.IDDVersion</span></td>
                    </tr>
                    <tr>
                        <td><div class="fw-semibold">MICCB Version:</div></td>
                        <td><span class="fs-20 fw-semibold">@versionTable!.MICCBVersion</span></td>
                    </tr>
                    <tr>
                        <td><div class="fw-semibold">MOCB Version:</div></td>
                        <td><span class="fs-20 fw-semibold">@versionTable!.MOCBVersion</span></td>
                    </tr>
                    <tr>
                        <td><div class="fw-semibold">RC Version:</div></td>
                        <td><span class="fs-20 fw-semibold">@versionTable!.RCVersion</span></td>
                    </tr>
                    <tr>
                        <td><div class="fw-semibold">MC Version:</div></td>
                        <td><span class="fs-20 fw-semibold">@versionTable!.MCVersion</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter] public VersionTable? versionTable { get; set; }
}