@page "/error404"
@layout CustomLayout
@using ForsightTester._Spk
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //

    <div class="page error-bg">
        <!-- Start::error-page -->
        <div class="error-page">
            <div class="container">
                <div class="my-auto">
                    <div class="row align-items-center justify-content-center h-100">
                        <div class="col-xl-7 col-lg-5 col-md-6 col-12">
                            <p class="error-text mb-4">404</p>
                            <p class="fs-4 fw-normal mb-2">Oops, the page you are trying to access does not exist ?</p>
                            <p class="fs-15 mb-5 text-muted">The requested page is not available. It might have been relocated, deleted, or never existed.</p>
                            <SpkButtons Tag="a" ButtonClass="btn-primary" href="/index"><i class="ri-arrow-left-line align-middle me-1 d-inline-block"></i> BACK TO HOME PAGE</SpkButtons>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>