@page "/General"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //
@inject MSGS.ClientManager client
@using ForsightTester._Spk
@using CardModel
@inject DevTableVisibilityService DevTableVisibility

<!-- Page Header -->
<SpkPageHeader PageItems="PageItems" />
<!-- Page Header Close -->

<!-- Horizontal Row for Two Tables -->

<div class="row">
    <div class="col-12">
        <div class="card custom-card">
            <div class="card-body">
                <ul class="nav nav-pills justify-content-center nav-style-2 mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" role="tab" aria-current="page"
                        href="#About" aria-selected="true">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" role="tab" aria-current="page"
                        href="#Debug" aria-selected="false">Debug</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane show active text-muted" id="About" role="tabpanel">
                        <div class="row">
                            <div class="col-xxl-4 col-lg-6 col-12">
                                <SpkDownloadAgent />
                            </div>
                            @* <div class="col-xxl-4 col-lg-6 col-12">
                                <SpkVersionSummary versionTable="versionTable"/>
                            </div> *@
                        </div>
                    </div>

                    <div class="tab-pane text-muted" id="Debug" role="tabpanel">
                        <div class="d-flex flex-wrap">
                            <div style="width:300px">
                                <SpkVerticalButtons TableStyle="height:250px;" Name="Debug buttons" Buttons=buttons />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<SpkModalSpinner @ref="_SpinnerDlg" />

@code {
    private SpkModalSpinner? _SpinnerDlg;

    private List<SpkPageHeader.PageItem> PageItems = new List<SpkPageHeader.PageItem> {
        new SpkPageHeader.PageItem { PageTitle = "General" },
    };

    private ButtonSpec[] buttons = default!;

    protected override void OnInitialized()
    {
        buttons = new[]
        {
            new ButtonSpec
            {
                Caption = "Reset Errors with<br />motor no movement",
                OnClick  = ResetErrorsWith
            }
        };
    }

    private VersionTable versionTable = new VersionTable { AgentVersion = "0.40", IDDVersion = "3.1", MICCBVersion = "1.1", MOCBVersion = "1.3.1", RCVersion = "2.0", MCVersion = "1.1" };

    private async Task ResetErrorsWith()
    {
        Console.WriteLine("Resetting errors with motor no movement...");
        await _SpinnerDlg!.ShowAsync();
        client.ResetErrors(OnResetCompleted, true);
    }
    private async Task OnResetCompleted()
    {
        // Custom logic here
        Console.WriteLine("ResetErrorManager No motor movement finished and callback fired.");
        await _SpinnerDlg!.HideAsync();
    }
}
