@page "/Rc"
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager // This line is used to generate URLs dynamically //
@inherits BaseComponent<MSGS.RKS2RC_Control, MSGS.RC2RKS_Status>
@inject MSGS.ClientManager udpData

@using ForsightTester._Spk

<!-- Page Header -->
<SpkPageHeader PageItems="PageItems" />
<!-- Page Header Close -->

@code{
    
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
        return Task.CompletedTask; //TODO: I added this temporarily to avoid warning
    }
}

<div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="accordion customized-accordion accordions-items-seperate" id="customizedAccordion">
            <div class="accordion-item custom-accordion-primary">
                <h2 class="accordion-header" id="customizedAccordionOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#customized-AccordionOne" aria-expanded="false"
                            aria-controls="customized-AccordionOne">
                        RC Periodic Status MSG
                    </button>
                </h2>
                <div id="customized-AccordionOne" class="accordion-collapse collapse"
                     aria-labelledby="customizedAccordionOne">
                    <div class="accordion-body">
                        <AccordionView Data="statusWrapper!.StructData" Hide_Apply_button="true" />
                    </div>
                </div>
            </div>
            <div class="accordion-item custom-accordion-secondary">
                <h2 class="accordion-header" id="customizedAccordionTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#customized-AccordionTwo" aria-expanded="false"
                            aria-controls="customized-AccordionTwo">
                        RC Periodic Command MSG
                    </button>
                </h2>
                <div id="customized-AccordionTwo" class="accordion-collapse collapse"
                     aria-labelledby="customizedAccordionTwo">
                    <div class="accordion-body">
                        <AccordionView Data="controlInstance" Hide_Apply_button="false" OnUpdate="HandleApplyUpdates" />
                    </div>
                </div>
            </div>
            <div class="accordion-item custom-accordion-danger">
                <h2 class="accordion-header" id="customizedAccordionThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#customized-AccordionThree" aria-expanded="false"
                            aria-controls="customized-AccordionThree">
                        RC Metry MSG
                    </button>
                </h2>
                <div id="customized-AccordionThree" class="accordion-collapse collapse"
                     aria-labelledby="customizedAccordionThree">
                    <div class="accordion-body">
                        <AccordionView Data="udpData.UserData.rc_metry_oper_reply" Hide_Apply_button="true" />
                    </div>
                </div>
            </div>
            <div class="accordion-item custom-accordion-warning">
                <h2 class="accordion-header" id="customizedAccordionFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#customized-AccordionFour" aria-expanded="false"
                            aria-controls="customized-AccordionFour">
                        RC Metry DEBUG MSG
                    </button>
                </h2>
                <div id="customized-AccordionFour" class="accordion-collapse collapse"
                     aria-labelledby="customizedAccordionThree">
                    <div class="accordion-body">
                        <AccordionView Data="udpData.UserData.rc_metry_init_reply" Hide_Apply_button="true" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private List<SpkPageHeader.PageItem> PageItems = new List<SpkPageHeader.PageItem> {
        new SpkPageHeader.PageItem { PageTitle = "RC" },
    };

    MSGS.StructWrapper<MSGS.SRcControlMetry>? metryWrapper;
    MSGS.StructWrapper<MSGS.SRcDebugMetry>? metryDebugWrapper;

    protected override void OnInitialized()
    {
        base.InitializeComponent(
            deviceID: (int)MSGS.DevicesScreen.RC,
            controlInstance: udpData.UserData.rc_periodic_msg,
            initialStatus: udpData.UserData.rc_periodic_status
        
        );
        this.metryWrapper = new MSGS.StructWrapper<MSGS.SRcControlMetry>(udpData.UserData.rc_metry_oper_reply);
        this.metryDebugWrapper = new MSGS.StructWrapper<MSGS.SRcDebugMetry>(udpData.UserData.rc_metry_init_reply);
        udpData.SendServerForwardCmdGeneric(DeviceID, 2, 1, ref controlInstance);
        base.OnInitialized();
    }
    public Rc() : base()
    {
    }

    // ✅ Call base constructor explicitly with DeviceID = 3
    // public RC()
    //     : base(deviceID: (int)MSGS.DevicesScreen.RC, MSGS.ClientManager.rc_periodic_msg, MSGS.ClientManager.rc_periodic_status)
    // {
    //     this.metryWrapper = new MSGS.StructWrapper<MSGS.SRcControlMetry>(MSGS.ClientManager.rc_metry_oper_reply);
    //     this.metryDebugWrapper = new MSGS.StructWrapper<MSGS.SRcDebugMetry>(MSGS.ClientManager.rc_metry_init_reply);
    //     MSGS.ClientManager.SendServerForwardCmdGeneric(DeviceID, 2, 1, ref controlInstance);
    // }


    protected override void UpdateGUIValuesLogic()
    {
        statusWrapper!.UpdateFromStruct(udpData.UserData.rc_periodic_status);
        metryWrapper!.UpdateFromStruct(udpData.UserData.rc_metry_oper_reply);
        metryDebugWrapper!.UpdateFromStruct(udpData.UserData.rc_metry_init_reply);
    }
    protected override void SonDispose()
    {
        udpData.SendServerForwardCmdGeneric(DeviceID, 2, 1, ref controlInstance);
        udpData.UserData.rc_periodic_msg = controlInstance;
        //treeViewRef.UserData = controlInstance;
    }
}
